<li class="notification-item <%= 'notification-unread' if notification.read_at.nil? %>" data-notification-id="<%= notification.id %>">
  <%= link_to user_path(notification.actor), class: "notification-link" do %>
    <%# Avatar %>
    <%= image_tag notification.actor.avatar.attached? ? url_for(notification.actor.avatar) : 'default-avatar.png', class: 'notification-avatar' %>
    
    <%# Conteúdo da Notificação %>
    <div class="notification-content">
      <p class="notification-text">
        <strong><%= notification.actor.username %></strong> <%= notification.action %>
      </p>
      <small class="notification-time"><%= time_ago_in_words(notification.created_at) %> atrás</small>
    </div>
  <% end %>
</li>
