<!DOCTYPE html>
<html>
  <head>
    <title>GeoMatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload" %>

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  </head>

  <body>
    <header>
      <h1>GeoMatch</h1>
    </header>

    <div class="container">
      <%= yield %>
    </div>

    <%= javascript_include_tag "map", type: "module" %>
  </body>
</html>
